* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

aside .publicidades .publicidad {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  background-color: rgb(38, 0, 255);
  border-radius: 10px;
  color: white;
  overflow: hidden;
  margin: 30px;
  margin-top: 100px;
}
aside .publicidades .publicidad h3 {
  text-align: center;
  font-size: 40px;
  font-family: Sbold;
}
aside .publicidades .publicidad img {
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
aside .publicidades .publicidad p {
  font-size: 20px;
  font-family: cursive;
}

aside .table {
  margin-top: 30px;
  margin: 10px;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  color: #33FF8D;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
  font-family: Titania;
  font-size: 20px;
}
@media (max-width: 400px) {
  aside .table {
    font-size: 15px;
  }
}

.header .headerInfo h1 {
  font-size: 70px;
  font-family: SBold;
  padding: 10px;
  color: #A7DD3C;
  text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77, 0, 38, 0.5), 3px 0 3px #FF002B, 5px 0 3px #800015, 6px 2px 3px rgba(77, 0, 13, 0.5), 6px 0 9px #FF5500, 8px 0 9px #802A00, 9px 2px 9px rgba(77, 25, 0, 0.5), 9px 0 18px #FFD500, 11px 0 18px #806A00, 12px 2px 18px rgba(77, 66, 0, 0.5), 12px 0 30px #D4FF00, 14px 0 30px #6A8000, 15px 2px 30px rgba(64, 77, 0, 0.5), 15px 0 45px #80FF00, 17px 0 45px #408000, 17px 2px 45px rgba(38, 77, 0, 0.5);
}
@media (max-width: 651px) {
  .header .headerInfo h1 {
    font-size: 50px;
  }
}
@media (max-width: 472px) {
  .header .headerInfo h1 {
    font-size: 40px;
  }
}
@media (max-width: 360px) {
  .header .headerInfo h1 {
    font-size: 30px;
  }
}

section .blqNoticia {
  background-color: rgb(38, 0, 255);
  border: solid 6px black;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
}

section .blqNoticia .flecha h4, section .blqNoticia .blqNoticia__titulo, main .secion h4, .bloque .bloque__titulo, aside .publicidades article .textoArticulo h2 {
  color: #33FF8D;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
  font-size: 35px;
}

section .bloqueVideo .reproductor h3, aside .accordion h3, main .parrafoTitulo {
  color: rgb(38, 0, 255);
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
  top: 10px;
}

section .bloqueVideo .reproductor div button {
  width: 150px;
  padding: 10px;
  border: none;
  text-align: center;
  border-radius: 5px;
  background-color: black;
  color: white;
  text-decoration: none;
  margin: 10px;
}
section .bloqueVideo .reproductor div button:hover {
  color: blue;
}

@font-face {
  font-family: Titania;
  src: url(../fuentes/Titania-Regular.ttf);
}
@font-face {
  font-family: SBold;
  src: url(../fuentes/Redemtion.ttf);
}
@font-face {
  font-family: superbold;
  src: url(../../assets/fuentes/SUPER\ BOLD.ttf);
}
@font-face {
  font-family: Indonesia;
  src: url(../../assets/fuentes/I\ LOVE\ INDONESIA.ttf);
}
.bodyIndex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px 350px auto auto;
  grid-template-areas: "nav nav nav nav" "header header header header" "main main main aside" "footer footer footer footer";
}
@media (max-width: 998px) {
  .bodyIndex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px 300px auto auto;
    grid-template-areas: "nav nav nav nav" "header header header header" "main main main main" "aside aside aside aside" "footer footer footer footer";
  }
}

body {
  background-image: linear-gradient(20deg, rgb(50, 228, 15), #33FF8D, rgb(50, 228, 15));
}

.btn__aside {
  width: 150px;
  padding: 10px;
  border: none;
  text-align: center;
  border-radius: 5px;
  background-color: black;
  color: white;
  text-decoration: none;
  margin: 10px;
  font-family: "Courier New", Courier, monospace;
}
.btn__aside:hover {
  color: blue;
}

.btn {
  width: 100%;
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
.btn:hover {
  background-color: cornflowerblue;
}

main .parrafoTexto {
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}
@media (max-width: 400px) {
  main .parrafoTexto {
    font-size: 16px;
  }
}
main .parrafoTexto span {
  font-family: Titania;
  font-size: 30px;
  color: rgb(38, 0, 255);
}
@media (max-width: 400px) {
  main .parrafoTexto span {
    font-size: 20px;
  }
}
main .parrafoTitulo {
  font-family: Titania;
  font-size: 50px;
}
main .aboutImg {
  width: 250px;
  transition: 2s;
}
@media (max-width: 400px) {
  main .aboutImg {
    width: 130px;
  }
}
main .aboutImg:hover {
  transform: scale(1.2);
}
main .aboutImg2 {
  transition: 2s;
}
@media (max-width: 400px) {
  main .aboutImg2 {
    width: 200px;
  }
}
main .aboutImg2:hover {
  transform: scale(1.2);
}

aside {
  grid-area: aside;
  display: flex;
  align-items: stretch;
}
aside .publicidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 998px) {
  aside .publicidades .publicidad {
    margin-top: 20px;
  }
}
@media (max-width: 863px) {
  aside .publicidades .publicidad {
    width: 90%;
  }
}
@media (max-width: 863px) {
  aside .publicidades .publicidad img {
    width: 90%;
  }
}
aside .publicidades article {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 10px;
}
aside .publicidades article .imgArticulo {
  display: flex;
  margin-top: 50px;
}
@media (max-width: 863px) {
  aside .publicidades article .imgArticulo {
    margin-top: 0px;
  }
}
aside .publicidades article .imgArticulo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
  position: relative;
}
aside .publicidades article .textoArticulo {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 5px;
}
aside .publicidades article .textoArticulo h2 {
  font-family: Titania;
  margin: 5px;
  font-size: 20px;
}
@media (max-width: 998px) {
  aside .publicidades article .textoArticulo h2 {
    font-size: 15px;
  }
}
aside .table {
  background-image: url(../../assets/img/Tabla//sub_zero_and_kratos-600.jpg);
}
aside .accordion {
  margin: 10px;
}
aside .accordion h3 {
  text-align: center;
  font-family: Titania;
  font-size: 45px;
}
aside .accordion .accordion-item {
  background-color: rgb(38, 0, 255);
  color: #33FF8D;
}
aside .accordion .accordion-item h2 {
  font-family: "Courier New", Courier, monospace;
}
aside .accordion .accordion-item h2 .accordion-button {
  background-color: rgb(38, 0, 255);
  color: #33FF8D;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}
aside .accordion .accordion-item .accordion-collapse {
  font-family: "Courier New", Courier, monospace;
}

footer {
  grid-area: footer;
  background: #040201;
  background-image: linear-gradient(20deg, rgb(50, 228, 15), #33FF8D, rgb(50, 228, 15));
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-style: double;
}
footer .empresa {
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 1037px) {
  footer .empresa {
    width: 100%;
    align-items: center;
  }
}
footer .empresa h2 {
  font-family: Titania;
}
@media (max-width: 371px) {
  footer .empresa h2 {
    font-size: 20px;
  }
}
footer .empresa p {
  font-family: "Courier New", Courier, monospace;
}
@media (max-width: 371px) {
  footer .empresa p {
    font-size: 15px;
  }
}
footer .empresa .fa-brands {
  font-size: 40px;
  height: 80px;
  width: 80px;
}
@media (max-width: 371px) {
  footer .empresa .fa-brands {
    font-size: 30px;
    height: 60px;
    width: 60px;
  }
}
footer .sucursal {
  margin: 10px;
  text-align: left;
}
footer .sucursal h3 {
  text-align: center;
  font-family: Titania;
  margin: 10px 0px;
}
footer .sucursal ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .sucursal ul li a {
  font-family: "Courier New", Courier, monospace;
}
footer .sucursal ul li a .fa-solid {
  font-size: 20px;
  padding: 5px;
}

.header {
  grid-area: header;
  background-image: url(../img/Inicio/retrowave_retro_games_purple_dark_video_games-1328387.jpg!d);
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.header .headerInfo {
  color: #33FF8D;
  border-radius: 10px;
}
.bloque {
  border: solid 2px;
  border-radius: 10px;
  background-color: rgb(38, 0, 255);
}
.bloque .bloque__titulo {
  font-family: Titania;
  margin: 10px;
}
.bloque h3 {
  color: white;
  font-family: Titania;
}
.bloque p {
  color: white;
  font-family: "Courier New", Courier, monospace;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}
.bloque .imgIndex {
  width: 100%;
}

main {
  grid-area: main;
  margin-top: 10px;
}
main .textoInicio {
  padding: 10px;
  margin: 10px;
  color: black;
  border-radius: 10px;
  font-family: Titania;
  text-decoration: underline;
  text-align: center;
  -webkit-animation-name: colorr;
          animation-name: colorr;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
main .textoInicio h2 {
  font-size: 50px;
}
@media (max-width: 632px) {
  main .textoInicio h2 {
    font-size: 30px;
  }
}
@-webkit-keyframes colorr {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
    color: #A7DD3C;
    text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77, 0, 38, 0.5), 3px 0 3px #FF002B, 5px 0 3px #800015, 6px 2px 3px rgba(77, 0, 13, 0.5), 6px 0 9px #FF5500, 8px 0 9px #802A00, 9px 2px 9px rgba(77, 25, 0, 0.5), 9px 0 18px #FFD500, 11px 0 18px #806A00, 12px 2px 18px rgba(77, 66, 0, 0.5), 12px 0 30px #D4FF00, 14px 0 30px #6A8000, 15px 2px 30px rgba(64, 77, 0, 0.5), 15px 0 45px #80FF00, 17px 0 45px #408000, 17px 2px 45px rgba(38, 77, 0, 0.5);
  }
}
@keyframes colorr {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
    color: #A7DD3C;
    text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77, 0, 38, 0.5), 3px 0 3px #FF002B, 5px 0 3px #800015, 6px 2px 3px rgba(77, 0, 13, 0.5), 6px 0 9px #FF5500, 8px 0 9px #802A00, 9px 2px 9px rgba(77, 25, 0, 0.5), 9px 0 18px #FFD500, 11px 0 18px #806A00, 12px 2px 18px rgba(77, 66, 0, 0.5), 12px 0 30px #D4FF00, 14px 0 30px #6A8000, 15px 2px 30px rgba(64, 77, 0, 0.5), 15px 0 45px #80FF00, 17px 0 45px #408000, 17px 2px 45px rgba(38, 77, 0, 0.5);
  }
}
main .headerImg {
  width: 80px;
  height: 80px;
  -webkit-animation-name: mover;
          animation-name: mover;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@media (max-width: 526px) {
  main .headerImg {
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
  }
}
@-webkit-keyframes mover {
  0% {
    transform: translate(800px, 0px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes mover {
  0% {
    transform: translate(800px, 0px);
  }
  100% {
    transform: translate(0, 0);
  }
}
main .textoLinks .textoLink {
  display: flex;
  justify-content: center;
  margin: 10px;
}
main .textoLinks .textoLink li {
  text-decoration: underline;
  padding: 15px;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}
@media (max-width: 526px) {
  main .textoLinks .textoLink li {
    font-size: 15px;
  }
}
main .secion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 0, 255);
  width: 100%;
  height: 400px;
  margin: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
@media (max-width: 500px) {
  main .secion {
    margin: 15px;
    width: 90%;
  }
}
main .secion h4 {
  font-family: Titania;
  padding: 10px;
}
main .secion form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .secion form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
  font-size: 20px;
}
main .secion form label input {
  font-size: 15px;
  padding: 5px;
  text-align: center;
}

.navbar {
  grid-area: nav;
  background-image: linear-gradient(20deg, rgb(50, 228, 15), #33FF8D, rgb(50, 228, 15));
}
.navbar .navImg {
  width: 70px;
}
.navbar .navbar-brand {
  font-family: Sbold;
  font-size: 30px;
}
.navbar .navbar-nav {
  background-image: linear-gradient(20deg, rgb(50, 228, 15), #33FF8D, rgb(50, 228, 15));
}
.navbar .navbar-nav .nav-item {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  text-decoration: underline;
  padding: 5px;
}

section .blqNoticia {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
section .blqNoticia .blqNoticia__img {
  width: 100%;
}
section .blqNoticia:hover div .blqNoticia__texto {
  display: block;
}
section .blqNoticia .blqNoticia__titulo {
  text-align: center;
  font-family: Titania;
  font-size: 60px;
  margin: 10px;
  padding: 5px;
}
@media (max-width: 768px) {
  section .blqNoticia .blqNoticia__titulo {
    font-size: 30px;
  }
}
section .blqNoticia .flecha {
  text-align: center;
  margin: 15px;
}
section .blqNoticia .flecha h4 {
  font-size: 30px;
}
section .blqNoticia .blqNoticia__subT {
  text-align: center;
  font-family: Titania;
  color: white;
  font-size: 40px;
  margin: 10px;
  padding: 10px;
}
@media (max-width: 768px) {
  section .blqNoticia .blqNoticia__subT {
    font-size: 20px;
  }
}
section .blqNoticia .blqNoticia__texto {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  margin: 10px;
  padding: 10px;
  display: none;
}
@media (max-width: 768px) {
  section .blqNoticia .blqNoticia__texto {
    font-size: 15px;
  }
}
section .blqNoticia .comentarios {
  display: flex;
  flex-direction: column;
}
section .blqNoticia .comentarios:hover .respuesta {
  display: block;
}
section .blqNoticia .comentarios h3 {
  font-family: Titania;
  color: white;
}
section .blqNoticia .comentarios .respuesta {
  padding: 10px;
  display: none;
}
section .blqNoticia .comentarios .respuesta h4 {
  font-family: Titania;
  color: white;
}
section .blqNoticia .comentarios .respuesta p {
  font-family: "Courier New", Courier, monospace;
  color: white;
}
section .blqNoticia .comentarios .comentario {
  transition: 2s;
}
section .blqNoticia .comentarios .comentario:hover label {
  display: block;
}
section .blqNoticia .comentarios .comentario label {
  background-color: #33FF8D;
  border-radius: 2px;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
  display: none;
}
section .blqNoticia .comentarios .comentario .comentar {
  background-color: black;
  width: 200px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.formulario {
  display: flex;
  justify-content: center;
  background-image: url(../img/registro/pexels-lucie-liz-3165335.jpg);
  background-position: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
.formulario .form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  background-image: url(../img/registro/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg);
  padding: 30px;
  margin: 30px;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
  color: white;
}
.formulario .form label .form__input {
  margin: 5px;
  align-self: center;
  width: 100%;
  background-color: transparent;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid white;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 536px) {
  .formulario .form label .form__input {
    font-size: 10px;
  }
}
.formulario .form .form__btn {
  margin-top: 20px;
  width: 120px;
  padding: 20px;
  margin: 10px;
  border-radius: 50px;
  background-color: white;
  color: black;
}

section .bloqueVideo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .bloqueVideo .reproductor {
  display: flex;
  margin: 20px 0px 5px 10px;
}
@media (max-width: 730px) {
  section .bloqueVideo .reproductor {
    flex-direction: column;
  }
}
section .bloqueVideo .reproductor h3 {
  font-family: Titania;
  text-align: center;
}
section .bloqueVideo .reproductor p {
  margin: 10px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: black;
}
section .bloqueVideo .reproductor iframe {
  align-self: center;
  width: 480px;
  height: 288px;
  margin: 10px;
}
section .bloqueVideo .reproductor div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .bloqueVideo .reproductor div img {
  margin: 10px;
  width: 480px;
  height: 288px;
  position: relative;
}
@media (max-width: 730px) {
  section .bloqueVideo .reproductor div img {
    width: 80%;
  }
}
section .bloqueVideo .reproductor div button {
  position: absolute;
}/*# sourceMappingURL=styles.css.map */