
main{
    .parrafoTexto{
        width: 100%;
        font-family: 'Courier New', Courier, monospace;
        font-size: 25px;
        @media(max-width:400px){
            font-size: 16px;
        }
        span{
            font-family: Titania;
            font-size: 30px;
            color: rgb(38, 0, 255);
            @media(max-width:400px){
                font-size: 20px;
            }
        }
    }
    
    .parrafoTitulo{
        font-family: Titania;
        font-size: 50px;
        @extend %colorTituloDos;
    }
    
    .aboutImg{
        width: 250px;
        transition: 2s;
        @media(max-width:400px){
            width: 150px;
        }
        &:hover{
            transform: scale(1.2);
        }
    }
    .aboutImg2{
        transition: 2s;
        @media(max-width:400px){
            width: 250px;   
        }
        &:hover{
            transform: scale(1.2);
        }  
    }
}







