%publicidad{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background-color: rgb(38, 0, 255);
    border-radius: 10px;
    color: white;
    overflow: hidden;
    margin: 30px;
    margin-top: 100px;
    h3{
        text-align: center;
        font-size: 40px;
        font-family: Sbold;
    }
    img{
        width: 250px;
        object-fit: cover;
    }
    p{
        font-size: 20px;
        font-family: cursive;
    }   
}

%tabla{
    margin-top: 30px;
    margin-right: 10px;
    background-size: cover;
    object-fit: cover;
    border-radius: 5px;
    color: #33FF8D;
    text-shadow: -1px -1px 1px #000,
                  1px 1px 1px #000,
                 -1px 1px 1px #000,
                  1px -1px 1px #000;
    font-family: Titania;
    font-size: 20px;
}

%titulo{
    font-size: 70px;
    font-family: superbold;
    padding: 10px;
    color: #A7DD3C;
    text-shadow: 2px 0 0px #800040,
                 3px 2px 0px rgba(77,0,38,0.5),
                 3px 0 3px #FF002B, 5px 0 3px #800015,
                 6px 2px 3px rgba(77,0,13,0.5),
                 6px 0 9px #FF5500,
                 8px 0 9px #802A00,
                 9px 2px 9px rgba(77,25,0,0.5),
                 9px 0 18px #FFD500,
                 11px 0 18px #806A00,
                 12px 2px 18px rgba(77,66,0,0.5),
                 12px 0 30px #D4FF00,
                 14px 0 30px #6A8000,
                 15px 2px 30px rgba(64,77,0,0.5),
                 15px 0 45px #80FF00,
                 17px 0 45px #408000,
                 17px 2px 45px rgba(38,77,0,0.5);
                 @media(max-width:651px){
                    font-size: 50px;
                }
}

%noticias{
        background-color: map-get($noticias, background-color );
        border: map-get($noticias, border );
        border-radius: map-get($noticias, border-radius );
        padding: map-get($noticias, padding );
        margin: map-get($noticias, margin );
}
