footer{
    grid-area: footer;
    background: #040201;
    background-image: $colorGradiente;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .empresa{
        margin: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media(max-width:1037px){
            width: 100%;
            align-items: center;
        }
        h2{
            font-family: Titania;
            @media(max-width:371px){
                font-size: 20px;
            }
        }
        p{
            font-family: 'Courier New', Courier, monospace;
            @media(max-width:371px){
                font-size: 15px;
            }
        }    
        .fa-brands{
            font-size: 40px;
            height: 80px;
            width: 80px;
            @media(max-width:371px){
                font-size: 30px;
                height: 60px;
                width: 60px;
            }
        }  
    }
    .sucursal{
        margin: 10px;
        text-align: left;
        h3{
            text-align: center;
            font-family: Titania;
            margin: 10px 0px;
        }
        ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
            li{
                a{
                    font-family: 'Courier New', Courier, monospace;
                    .fa-solid{
                        font-size: 20px;
                        padding: 5px;
                    }
                }
            }
        }
    }
}

