@font-face{
    font-family: Titania;
    src: url(../fuentes/Titania-Regular.ttf);
}

@font-face{
    font-family: SBold;
    src: url(../fuentes/Redemtion.ttf);
}

@font-face{
    font-family: superbold;
    src: url(../../assets/fuentes/SUPER\ BOLD.ttf);
}

@font-face{
    font-family: Indonesia;
    src: url(../../assets/fuentes/I\ LOVE\ INDONESIA.ttf);
}