.bloque{
    border: solid 2px;
    border-radius: 10px;
    .bloque__titulo{
        font-family: Titania;
        color: #33FF8D;
        text-shadow: -1px -1px 1px #000,
                      1px 1px 1px #000,
                     -1px 1px 1px #000,
                      1px -1px 1px #000;
        font-size: 35px;
        margin: 10px;
    }
    p{
        margin: 10px;
        padding: 10px;
        font-size: 20px;
    }
}



