.bloque{
    border: solid 2px;
    border-radius: 10px;
    .bloque__titulo{
        font-family: Titania;
        @extend %colorTitulo;
        margin: 10px;
    }
    p{
        margin: 10px;
        padding: 10px;
        font-size: 20px;
    }
}



