.navbar{
    grid-area: nav;
    background-image: $colorGradiente;
    .navImg{
        width: 100%;
    }
    .navbar-brand{
        font-family: Sbold;
        font-size: 30px;
    }    
    .navbar-nav{
        background-image: $colorGradiente;
        .nav-item{
            font-family: 'Courier New', Courier, monospace;
            font-size: 20px;
            text-decoration: underline;
            padding: 5px;
        }
    }
}



