
section{
    .blqNoticia{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @extend %noticias;
        .blqNoticia__img{
            width: 100%;
        }
        &:hover{
            div{
                .blqNoticia__texto{
                    display: block;
                }
            }
    }
        .blqNoticia__titulo{
            text-align: center;
            font-family: Titania;
            @extend %colorTitulo;
            font-size: 60px;
            margin: 10px;
            padding: 5px;
            @media(max-width:768px){
                font-size: 30px;
            }
        }
        .flecha{
            text-align: center;
            margin: 15px;

            h4{
                @extend %colorTitulo;
                font-size: 30px;
            }
        } 
        .blqNoticia__subT{
            text-align: center;
            font-family: Titania;
            color: white;
            font-size: 40px;
            margin: 10px;
            padding: 10px;
            @media(max-width:768px){
                font-size: 20px;
            }
        }
        .blqNoticia__texto{
            text-align: center;
            color: white;
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
            margin: 10px;
            padding: 10px;
            display: none;
            @media(max-width:768px){
                font-size: 15px;
            }
        }
        .comentarios{
            display: flex;
            flex-direction: column;
            &:hover{
                .respuesta{
                    display: block;
                }
            }
            h3{
                font-family: Titania;
                color: white;
            }
            .respuesta{
                padding: 10px;
                display: none;
                h4{
                    font-family: Titania;
                    color: white;
                }
                p{
                    font-family: 'Courier New', Courier, monospace;
                    color: white;
                }
            }
            .comentario{
                transition: 2s;
                &:hover {
                    label{
                        display: block;
                    }
                } 
                label{
                    background-color: #33FF8D;
                    border-radius: 2px ;
                    font-size: 15px;
                    font-family: 'Courier New', Courier, monospace;
                    padding: 10px;
                    display: none;
                }
                .comentar{
                    background-color: black;
                    width: 200px;
                    font-family: 'Courier New', Courier, monospace;
                    font-size: 20px;
                    margin: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    color: white;
                }
            }
        }
    }   
}
