$colorGradiente:linear-gradient(20deg, rgb(50, 228, 15),#33FF8D, rgb(50,228,15));

$noticias:(
    background-color: rgb(38, 0, 255),
    border: solid 6px black,
    border-radius: 6px,
    padding: 10px,
    margin: 10px,
)

