$colorGradiente:linear-gradient(20deg, rgb(50, 228, 15),#33FF8D, rgb(50,228,15));

$noticias:(
    background-color: black,
    border: solid 6px rgb(69, 69, 70),
    border-radius: 6px,
    padding: 10px,
    margin: 10px,
)