section{
    .bloqueVideo{
        width: 100%;
        background-color: black;
        border: solid 6px blue;
        border-radius: 6px;
        padding: 10px;
        margin: 10px;
        .bloqueVideo__video{
            width: 100%;
        }
        .bloqueVideo__titulo{
            text-align: center;
            font-family: Titania;
            color: white;
            font-size: 30px;
            padding: 5px; 
        }
        .bloqueVideo__texto{
            color: white;
            font-size: 20px;
            font-family: cursive;
        }        
    }
}





